<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-md-start text-center">
                <p>Contacto:</p>
                <p>Dirección: Ing. Mario Italo Palanca 10, Y4600 San Salvador de Jujuy, Jujuy</p>
                <p><i class="fas fa-phone-alt"></i> Teléfono: (0388) 123-4567</p>
                <p><i class="fas fa-envelope"></i> Email: info@fi.unju.edu.ar</p>
            </div>
            <div class="col-md-6 text-md-end text-center">
                <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <p class="mt-3">&copy; 2024 Facultad de Ingeniería - Universidad Nacional de Jujuy. Todos los derechos reservados.</p>
</footer>
</body>
</html>
